@media screen and (max-width: 768px) {
  .app {
    min-width: 450px;
    &__player1,
    &__player2 {
      &-points-block {
        width: 100px;
      }
    }
    &__interface-dice-img {
      margin-bottom: 20px;
    }
  }

  .btn {
    font-size: 1.5rem;

    &__text {
      display: none;
    }
  }
}
